/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

.snackbar-added{
    color: rgb(33, 80, 56);
    font-weight: bold;
    background: rgb(204, 255, 221);
}
/* 
panelclass: ['snackbar-error'] */